*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-color: #12274F;
    width: 100vw;
    overflow-x: hidden;
}

.container{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

nav{
    display: flex;
    gap: 32px;
}

a{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.img-logo{
    width: 145.3px;
    height: 56px;
}

.appe{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 71px;
    color: #FFFFFF;
}

.satis{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #FFFFFF;
}

.div-span{
    margin-left: 229px;
    position: absolute;
    top: 312px;
    left: 44px;
}


.img-seta{
    width: 417.9px;
    height: 370.39px;
    position: absolute;
    top: 292px;
    left: 138px;
}

.botao-by{
    width: 356px;
    height: 96px;
    position: absolute;
    top: 518px;
    left: 262px;
}

.img-burger{
    width: 341.25px;
    height: 328.23px;
    position: absolute;
    right: 98px;
    top: 282px;
}

.img-elipse{
    width: 338px;
    height: 338px;
    position: absolute;
    right: 64px;
    bottom: 308px;
} 

.container-informations{
    display: flex;
    flex-direction: row;
    gap: 601px;
}

.social_links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 742px;
    gap: 130px;
}

#insta, #facebook, #tele, #what{
    cursor: pointer;
}

@media screen and (max-width: 1400px) {

    .social_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-top: 498px;
        gap: 130px;
    }
    .img-burger {
        width: 341.25px;
        height: 328.23px;
        position: absolute;
        right: 98px;
        top: 161px;
    }
    .div-span {
        margin-left: 229px;
        position: absolute;
        top: 207px;
        left: 44px;
    }
    .img-seta {
    width: 417.9px;
    height: 370.39px;
    position: absolute;
    top: 178px;
    left: 138px;
    }
    .botao-by {
        width: 356px;
        height: 96px;
        position: absolute;
        top: 407px;
        left: 262px;
    }
    .img-elipse {
    width: 338px;
    height: 338px;
    position: absolute;
    right: 64px;
    bottom: 181px;
    }
}


@media screen and (min-width: 768px) and (max-width: 1200px){

    .div-span {
        margin-left: 229px;
        position: absolute;
        top: 119px;
        left: -39px;
    }

    .img-seta {
        width: 417.9px;
        height: 370.39px;
        position: absolute;
        top: 115px;
        left: 138px;
    }

    .botao-by {
        width: 356px;
        height: 96px;
        position: absolute;
        top: 340px;
        left: 268px;
    }

    .img-burger {
        width: 341.25px;
        height: 328.23px;
        position: absolute;
        right: 195px;
        top: 498px;
    }

    .img-elipse {
        display:none;
        width: 338px;
        height: 338px;
        position: absolute;
        right: 170px;
        bottom: 101px;
        margin: auto;
    }

    .social_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-top: 800px;
        gap: 130px;
    }
}
