*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body{
    background-color: #12274F;
    width: 100vw;
    overflow-x: hidden;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

button{
    display: none;
}

.overlay{
    display: none;
}

nav{
    display: flex;
    gap: 32px;
}

a{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 158px;
    flex-wrap: wrap;
}

.botao-by{
    padding-top: 14px;
}

.principal-buy{
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: white;
}

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 71px;
    color: white;
}

.img-seta{
    width: 417.9px;
    height: 370.39px;
}

.rede-sociais{
    margin: 0 auto;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    padding-bottom: 10px;
}

.rede-sociais img{
    padding-left: 101px;
}

@media screen and (max-width: 768px){

    nav{
        display: none;
    }

    button{
        display: block;
    }

    .overlay{
        display: block;
        height: 100%;
        width: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 9;
        position: fixed;
        left: 0;
        top: 0;
        overflow-x: hidden;
        transition: all 0.5s;
    }

    .overlay-content{
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlay a{
        padding: 8px;
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #818181;
        text-decoration: none;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover, .overlay a:focus{
        color: white;
    }

    .overlay .closebtn{
        position: absolute;
        top: 25px;
        right: 45px;
        font-size: 60px;
    }

    .nav-button{
        border: 0;
        border-radius: 4px;
        padding: 8px;
        background-color: #174bac;
        margin: 8px;
        cursor: pointer;
    }

    .nav-button i{
        color: white;
    }

    .principal{
        display: flex;
        flex-direction: column;
        margin-top: 19px;
        gap: 36px;
    }

    h1{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 49px;
        color: white;
    }

    h2{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 61px;
        color: white;
    }

    .botao-by{
        padding-top: 14px;
        width: 259px;
    }

    .img-burguer{
        width: 301px;
    }

    .rede-sociais{
        display: flex;
        flex-direction: row;
        position: fixed;
    }

    .rede-sociais img{
        padding-left: 40px;
    }
}

@media screen and (max-height: 450px){
    .overlay a{
        font-size: 20px;
    }

    .overlay .closebtn{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (min-width: 360px) and (max-width: 389px){
    .rede-sociais{
        position: initial;
        margin-top: 24px;
    }

    .rede-sociais img{
        padding-left: 37px;
    }
}